models/rs_ob_models filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/LocModels/FastSurferCNN/v4_split_4_FastSurferCNN_coronal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/LocModels/FastSurferCNN/FastSurferCNN_weights.yml filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/LocModels/FastSurferCNN/v1_split_4_FastSurferCNN_axial.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/LocModels/FastSurferCNN/v1_split_4_FastSurferCNN_sagittal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v4_split_3_AttFastSurferCNN_coronal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v4_split_4_AttFastSurferCNN_axial.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v2_split_3_AttFastSurferCNN_sagittal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v3_split_1_AttFastSurferCNN_sagittal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v3_split_2_AttFastSurferCNN_sagittal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v3_split_4_AttFastSurferCNN_coronal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v4_split_1_AttFastSurferCNN_coronal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v4_split_4_AttFastSurferCNN_sagittal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/AttFastSurferCNN_weights.yml filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v1_split_2_AttFastSurferCNN_axial.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v3_split_1_AttFastSurferCNN_axial.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v3_split_2_AttFastSurferCNN_coronal.pkl filter=lfs diff=lfs merge=lfs -text
models/rs_ob_models/SegModels/AttFastSurferCNN/v3_split_3_AttFastSurferCNN_axial.pkl filter=lfs diff=lfs merge=lfs -text
